@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* General Styles & Resets */

* {
    box-sizing: border-box;
}


/* Layout & Appearance */
.mainContainer {
    width: 80vw;
    margin: 0 auto;
}

.taskOne div>div {
    border: 1px dashed #333;
    font-size: 4rem;
}

section {
    padding: 2em 0;
}

p {
    margin-bottom: 2em;
}

.taskThree .grid div {
    padding: 2em; 
}

.taskOne .container div {
    text-align:center; 
}

img {
    max-width: 100%; 
    height: auto; 
    margin: 0 auto; 
}

/*Typography */

body {
    font-family: 'Lato', sans-serif;
}

/* Your Code Here! */

/* TASK ONE */


/* TASK TWO */


/* TASK THREE */ 


  /* Challenges Adapted from https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grid_skills */ 
